footer {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #000;
    color: #fff;
  }
  
  footer .contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  footer .contacto i {
    margin: 0px 12px 0px 12px;
  }
  
  footer .contacto a {
    text-decoration: none;
  }
  
  footer .contacto span {
    color: #fff;
    font-size: 1.2em;
  }
  
  